@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


*,::before,::after,h1,h2,h3,h4,h5,h6,p {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #F6F8FD;
}
/*Variable Collor*/
$white : #fff;
$primaryCollor :#5E4BF5;



/*Navbar Style*/
#app {
    #navbarContainer {
        padding: 1.4rem 0;
        background-color: transparent;
        transition: .3s ease;
        &.navbarOnScrolled {
            background-color: $white;
            transition: .3s ease;
        }
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .brand {
                a {
                    display: flex;
                    align-items: center;
                    text-decoration: none;
                    .brandImages {
                        width: 100%;
                        max-width: 38px;
                        margin-right: .7rem;
                    }
                    .nameBrand {
                        font-weight: 600;
                        color: $primaryCollor;
                        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    }
                }
            }
            .navMenu {
                .buttonNavbarMenu {
                    display: none;
                    background: transparent;
                    align-items: center;
                    justify-content: center;
                    padding: 6px 10px;
                    border: 1px solid rgb(208, 208, 208);
                    border-radius: 10px;
                    transition: .3s ease;

                    &.activeButton {
                        background-color: $primaryCollor;
                        border: 1px solid #6b58f7;
                        ion-icon {
                            color: $white;
                        }
                    }
                    &:hover {
                        background-color: $primaryCollor;
                        border: 1px solid #6b58f7;
                        transition: .3s ease;
                        ion-icon {
                            color: $white;
                            transition: .3s ease;
                        }
                    }
                    ion-icon {
                        font-size: 32px;
                        transition: .3s ease;
                    }
                }
                .containerMenu {
                    .wrapperMenu {
                        list-style: none;
                        padding: 0;
                        margin: 0;
                        .list-menu {
                            .nav-menu {
                                text-decoration: none;
                                color: #4B4D4C;
                                font-weight: 300;
                            }
                        }
                    }
                }
            }
        }
    }
}
/*Responsive Navbar*/
@media screen and (max-width : 991px) {
    #app {
        #navbarContainer {
            position: fixed;
            top: 0;
            width: 100%;
            transition: .5s ease;
            .container {
                transition: .5s ease;
                .navMenu {
                    .buttonNavbarMenu {
                        display: flex;
                    }
                    .containerMenu {
                        padding: 2rem;
                        position: absolute;
                        left: -100px;
                        top: 50%;
                        background-color: $white;
                        transition: left .5s ease;
                        border-radius: 20px;
                        &.containerMenuActive {
                            left: 20px;
                            transition: left .5s ease;
                        }
                        .wrapperMenu {
                            .list-menu {
                                padding: .8rem 0;
                                .nav-menu {
                                    position: relative;
                                    display: flex;
                                    align-items: center;
                                    ion-icon {
                                        font-size: 22px;
                                    }
                                    p {
                                        display: none;
                                    }

                                    &.active {
                                        ion-icon {
                                            color: $primaryCollor;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width : 992px) {
    #app {
        #navbarContainer {
            position: fixed;
            top: 0;
            width: 100%;
            transition: .5s ease;
            .container {
                transition: .5s ease;
                .brand {
                    a {
                        .nameBrand {
                            font-size: 32px;
                        }
                    }
                }
                .navMenu {
                    .buttonNavbarMenu {
                        display: none;
                    }
                    .containerMenu {
                        .wrapperMenu {
                            display: flex;
                            align-items: center;
                            .list-menu {
                                padding: 0 .8rem;
                                .nav-menu {
                                    ion-icon {
                                        display: none;
                                    }
                                    p {
                                        position: relative;
                                        &::after {
                                            content: '';
                                            display: block;
                                            height: 2px;
                                            position: absolute;
                                            bottom: -5px;
                                            width: 0%;
                                            transform: translateX(0%);
                                            background-color: $primaryCollor;
                                            transition: .3s ease;
                                        }
                                        &:hover {
                                            &::after {
                                                width: 50%;
                                                transform: translateX(50%);
                                                transition: .3s ease;
                                            }
                                        }
                                    }
                                    &.active {
                                        color: $primaryCollor;
                                        font-weight: 500;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


/*Jumbotron*/
#app {
    #jumbotron {
        padding: 7rem 0;
        .container {
            .wrapperContent {
                .content {
                    color: #4B4D4C;
                    .wrapperButton {
                        a {
                            background-color: $primaryCollor;
                            color: $white;
                            font-size: 16px;
                            text-decoration: none;
                            padding: 8px 20px;
                            border-radius: 10px;
                            font-weight: 400;
                            transition: .3s ease;
                            display: block;
                            width: fit-content;
                            &:hover {
                                box-shadow: 2px 4px 4px rgba(94, 75, 245, 0.5);
                                transition: .3s ease;
                            }
                        }
                    }
                    .imagesContent {
                        position: relative;
                        img {
                            width: 100%;
                        }
                        .review {
                            background: #FFFFFF;
                            box-shadow: 0px -8px 80px rgba(94, 75, 245, 0.06), 0px -3.34221px 33.4221px rgba(94, 75, 245, 0.0431313), 0px -1.7869px 17.869px rgba(94, 75, 245, 0.0357664), 0px -1.00172px 10.0172px rgba(94, 75, 245, 0.03), 0px -0.532008px 5.32008px rgba(94, 75, 245, 0.0242336), 0px -0.221381px 2.21381px rgba(94, 75, 245, 0.0168687);
                            border-radius: 10px;
                            padding: 1rem;
                            width: fit-content;
                            position: absolute;
                            top: 35%;
                            right: 0;
                            .profileUser {
                                display: flex;
                                align-items: center;
                                margin-bottom: 1rem;
                                img {
                                    width: 100%;
                                    max-width: 44px;
                                }
                                .infoUser {
                                    padding-left: 1rem;
                                    h5 {
                                        color: #000000;
                                        font-size: 14px;
                                        margin-bottom: 4px;
                                    }
                                    p {
                                        color: rgba(0, 0, 0, 0.5);
                                        margin-bottom: 0;
                                        font-size: 12px;
                                        line-height: normal;
                                    }
                                }
                            }
                            .comment {
                                margin-bottom: .5rem;
                                p {
                                    max-width: 200px;
                                    font-size: 14px;
                                    margin: 0;
                                    line-height: normal;
                                }
                            }
                            .rating {
                                display: flex;
                                img {
                                    width: 100%;
                                    max-width: 18px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
/*End Jumbotron*/

/*Responsive Jumbotron*/
@media screen and (min-width : 0px) {
    #app {
        #jumbotron {
            .container {
                .wrapperContent {
                    .content {
                        h1 {
                            margin-bottom: 1rem;
                        }
                        p {
                            margin-bottom: 1rem;
                        }
                        .wrapperButton {
                        }
                        .imagesContent {
                            img {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width : 992px) {
    #app {
        #jumbotron {
            .container {
                .wrapperContent {
                    display: flex;
                    align-items: center;
                    .content {
                        width: 100%;
                        h1 {
                            font-size: 38px;
                        }
                        p {
                            margin-bottom: 2rem;
                        }
                        .wrapperButton {
                        }
                        .imagesContent {
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width : 1200px) {
    #app {
        #jumbotron {
            .container {
                .wrapperContent {
                    .content {
                        h1 {
                            font-size: 46px;
                        }
                        p {
                            font-size: 18px;
                        }
                        .wrapperButton {
                            a {
                                font-size: 18px;
                            }
                        }
                        .imagesContent {
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width : 1400px) {
    #app {
        #jumbotron {
            .container {
                .wrapperContent {
                    .content {
                        h1 {
                            font-size: 52px;
                        }
                        p {
                            font-size: 22px;
                            line-height: 36px;
                        }
                        .wrapperButton {
                            a {
                                font-size: 18px4
                            }
                        }
                        .imagesContent {
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width :768px) {
    .review {
        .profileUser {
            margin-bottom: .5rem !important;
            img {
                max-width: 28px !important;
            }
            .infoUser {
                padding-left: 1rem;
                h5 {
                    font-size: 12px !important;
                }
                p {
                    font-size: 10px !important;
                }
            }
        }
        .comment {
            p {
                font-size: 10px !important;
                max-width: 140px !important;
            }
        }
        .rating {
            img {
                max-width: 12px !important;
            }
        }
    }
}
/*Responsive Jumbotron*/